<extend name="Layout:admin_base"/>
<block name="css">
    <link rel="stylesheet" href="__ZTREE__/css/zTreeStyle/zTreeStyle.css">
</block>
<block name="content">
    <form action="#" method="post">
        <div class="form-group">
            <label>name</label>
            <input type="text" class="form-control" name="name" value="{$data.name}" placeholder="name">
        </div>
        <div class="form-group">
            <input type="hidden" name="parent_id" id="parent_id">
            <label for="parent_name">请选择父级分类</label>
            <input type="text" disabled="disabled" id="parent_name" class="form-control" value="请选择">
            <ul id="permission" class="ztree"></ul>
        </div>
        <div class="form-group">
            <label>url</label>
            <input type="text" class="form-control" name="permission_url" value="{$data.url}" placeholder="url">
        </div>
        <input type="hidden" name="id" value="{$data.id}">
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</block>
<block name="js">
    <script src="__ZTREE__/js/jquery-1.4.4.min.js"></script>
    <script src="__ZTREE__/js/jquery.ztree.core.js"></script>
    <script>
        //>>初始化ztree插件
        var setting = {
            data: {
                simpleData: {
                    enable: true,
                    pIdKey: 'parent_id',
                }
            },
            callback: {
                onClick: function (event, tree_id, tree_node) {
                    $('#parent_name').val(tree_node.name);
                    $('#parent_id').val(tree_node.id);
                }
            }

        };
        var datas = {$datas};
        $(document).ready(function () {
            var datasZtree = $.fn.zTree.init($("#permission"), setting, datas);
//>>展开所有节点
            datasZtree.expandAll(true);
            <present name="data">
            //>>获取父级分类
            var parentNode = datasZtree.getNodeByParam('id',{$data.parent_id});
            datasZtree.selectNode(parentNode);
            $('#parent_name').val(parentNode.name);
            </present>
        });

    </script>
</block>